.cabecalho{
  /* display: flex;
  flex-direction: row; */
  background-color: rgba(55, 219, 40, 0.541);
  padding: 80px;
}

.logo{
 /*  height: 200px; */
  width: 20%;
}

.titulo_nav{
  display: flex;
  align-items: center;
  width: 840px;
}

body{
  Font-family: 'EB Garamond', serif;
  background-color: rgba(155, 247, 155, 0.918);
}

h1{
  font-size: 60px;
  color: black;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background: rgba(29, 173, 16, 0.541);
  border-radius: 5px;
}

.menu{
  position: absolute;
  top: 132.5px; 
  right: 0;
  padding-right: 30px;
}

.Item_menu{
  display: inline;
  margin: 0 0 0 15px;
}

.Link_menu{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.Link_menu:hover{
  color: aqua;
  text-decoration: underline;
  transition: 0.2s all;
}

.rodape{
  background-color: rgba(55, 219, 40, 0.541);
  display: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  height: 100%;
  text-align: center;
  padding-top: 10px;
  bottom: 0px;
  position: relative;
  width: 100%;
  margin-bottom: 0px;
} 
