main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form p, form input{
    display: block;
}

.input-padrao{
    display: block;
    margin: 0 0 20px 0;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: rgba(55, 219, 40, 0.541);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s background;
    cursor: pointer;
}

.enviar:hover{
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px){

}